
<h1>Todo List</h1>
<ul class="todos-list">
  <% for todo in @todos %>
    <li>
      <p>Name: <%= todo.name %></p>
      <p>Description: <%= todo.description %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add a todo", todo_path(:new) %>
